<div class="row">
    <div class="small-12 columns small-centered">
        <article class="event">
            <div class="event-date">
                <p class="event-month">{{ occurrence.strftime('%B') }}</p>
                <p class="event-day">{{ occurrence.strftime('%-d') }}</p>
                <p class="event-time text-center">
                    {{ event.start_time.strftime('%-I:%M') }}&ndash;{{ event.end_time.strftime('%-I:%M')}}
                </p>
                <a class="button expand tiny radius success" href="{{ url('register', args=[event.slug]) }}">
                    Register <i class="fa fa-check"></i>
                </a>
            </div>
            <div class="event-desc">
                <h3 class="event-desc-header">{{ event.name }}</h3>
                <p class="event-desc-detail">
                    {{ event.description }}
                </p>
            </div>
        </article>
    </div>
</div>

