<div class="row">
    <div class="large-3 hide-for-small medium-3 columns">
        {% if event.image %}
            <img src="{{ event.image.url }}" />
        {% else %}
            <img src="http://lorempixel.com/500/500/cats" />
        {% endif %}
    </div>

    <div class="large-9 small-12 medium-9 columns">
        <h5>{{ event.name }}</h5>
        <p>{{ event.description }}</p>
        <p>
            <a class="button tiny radius success" href="{{ url('register', args=[event.slug]) }}">
                Register <i class="fi-check"> </i>
            </a>
        </p>
    </div>
</div>

