{% extends 'base.html' %}
{% block body %}
<div class="row">
    <div class="large-12 columns">
        <h2>Wild Foods FAQs</h2>

        <p><strong>How do you know what plants are safe to eat?</strong></p>
        <p>
            This subject is the first thing to be discussed on plant walks and
            yard consultations. Eating wild foods can be as safe as it is
            exciting when you know what you are doing. I will teach people the
            protocol around how to identify wild edibles and how to forage
            responsibly.
        </p>

        <p><strong>What are the benefits of eating wild foods?</strong></p>

        <p>
            Wild food is growing all around you, in the cracks of the
            sidewalks, in the shade of a tree in someone’s back yard. Often
            time the weeds we curse at for existing are actually nutritious
            food: dandelions, plantain, creeping charlie and lamb’s quarters
            just to name a few.  These wild foods have not had a human hand to
            protect and cultivate them, they have the ability to grow and
            thrive on their own and this means they have more nutrients than
            store bought or even farm stand vegetables.
        </p>

        <hr />

        <h2 id="movement">Movement class FAQs</h2>

        <p><strong>Why are the classes called movement classes instead of exercise classes?</strong></p>

        <p>
            Exercise is great but it’s only a small part of what it means to
            move your body. To quote biomechanist, Katy Bowman: “Every single
            thing our bodies do require movement-initiated by our own
            musculoskeletal system-to be performed with ease. Digestion,
            immunity, reproduction-all of these functions require us to move.
            You can eat the perfect diet, sleep get hours a night, and use only
            baking soda and vinegar to clean your house, but without loads
            created by natural movement, all of these worthy efforts are
            thwarted on a cellular level, and your optimal wellness level
            remains elusive.”
        </p>

        <p>
            The idea behind the movement class are to get your mind and body
            out  of the tediousness task of “exercise” and into a place where
            you move often and enjoy doing it. The movement classes are not
            repetitive. One week you might find yourself crawling and balancing
            on boards and the next week you work on jumping and
            lifting/carrying various objects. The idea is to keep it random to
            avoid overtraining in one particular type of movement and it also
            keeps boredom at bay.
        </p>

        <p><strong>Are these movement classes right for me?</strong></p>

        <p>
            The classes are designed to meet people where they are physically
            and emotionally. There are many progressions a person can move
            through at their own pace. The classes will challenge you to move
            your body in new ways and change the way you think about moving but
            never to push you into something you aren’t ready for.
        </p>

        <p><strong>Are you going to make me climb trees and carry logs?</strong></p>

        <p>Not unless you want to. Not until you are ready.</p>

        <p><strong>What should I wear to the classes?</strong></p>

        <p>
            Comfortable clothes that you can move in and don’t mind getting
            dirty.  Outdoor classes are year round, so dress for the weather.
        </p>

</div>
{% endblock %}
