{% extends 'base.html' %}
{% block body %}
<div class="row">
    <div class="large-12 columns">
        <h2>Reading</h2>
    </div>
</div>
<div class="row">
    <div class="large-6 columns">
        <h5>Movement</h5>
        <ul>
            <li>
                <strong>
                    <a href="http://amzn.com/0989653943" target="_blank">
                        Move Your DNA
                    </a>
                </strong>
                <em> Katy Bowman</em>
            </li>
            <li>
                <strong>
                    <a href="http://amzn.com/1425956637" target="_blank">
                        Exuberant Animal
                    </a>
                </strong>
                <em> Frank Forencich</em>
            </li>
            <li>
                <strong>
                    <a href="http://amzn.com/0985126302" target="_blank">
                        Beautiful Practice
                    </a>
                </strong>
                <em> Frank Forencich</em>
            </li>
            <li>
                <strong>
                    <a href="http://amzn.com/0307594963" target="_blank">
                        Natural Born Heros
                    </a>
                </strong>
                <em> Christopher McDougall</em>
            </li>
            <li>
                <strong>
                    <a href="http://amzn.com/0979303605" target="_blank">
                        8 Steps to a Pain-Free Back: Natural Posture Solutions for Pain in the Back, Neck, Shoulder, Hip, Knee and Foot
                    </a>
                </strong>
                <em> Esther Gokhale</em>
            </li>
        </ul>
    </div>
    <div class="large-6 columns">
        <h5>Wild foods</h5>
        <ul>
            <li>
                <strong>
                    <a href="http://amzn.com/0976626616" target="_blank">
                        Nature's Garden
                    </a>
                </strong>
                <em>Samuel Thayer</em>
            </li>
            <li>
                <strong>
                    <a href="http://amzn.com/0976626608" target="_blank">
                        Forager's Harvest
                    </a>
                </strong>
                <em>Samuel Thayer</em>
            </li>
            <li>
                <strong>
                    <a href="http://amzn.com/1604695315" target="_blank">
                        Midwest Foraging
                    </a>
                </strong>
                <em>Lisa M. Rose</em>
            </li>
            <li>
                <strong>
                    <a href="http://amzn.com/1603580298" target="_blank">
                        Gaia's Garden
                    </a>
                </strong>
                <em>Toby Hemenway</em>
            </li>
            <li>
                <strong>
                    <a href="http://amzn.com/1892784351" target="_blank">
                        Botany in a Day
                    </a>
                </strong>
                <em>Thomas J. Elpel</em>
            </li>
        </ul>
    </div>
    <hr />
</div>
<div class="row">
    <div class="large-12 columns">
        <h2>
            Online resources
        </h2>
    </div>
</div>
<div class="row">
    <div class="large-6 columns">
        <h5>Movement</h5>
        <ul>
            <li>
                <strong>
                    <a href="http://www.movnat.com" target="_blank">
                        MovNat
                    </a>
                </strong>
            </li>
            <li>
                <strong>
                    <a href="http://www.katysays.com" target="_blank">
                        Katy Says
                    </a>
                </strong>
            </li>
            <li>
                <strong>
                    <a href="http://gokhalemethod.com/node/55988" target="_blank">
                        The Gokhale Method
                    </a>
                </strong>
            </li>
            <li>
                <strong>
                    <a href="http://www.exuberantanimal.com" target="_blank">
                        Exuberant Animal
                    </a>
                </strong>
            </li>
            <li>
                <strong>
                    <a href="http://www.idoportal.com">
                        Ido Portal
                    </a>
                </strong>
            </li>
        </ul>
    </div>
    <div class="large-6 columns">
        <h5>
            Wild Foods
        </h5>
        <ul>
            <li>
                <strong>
                    <a href="http://plants.usda.gov/java/" target="_blank">
                        United States Department of Agriculture
                    </a>
                </strong>
            </li>
            <li>
                <strong>
                    <a href="http://www.theresiliencyinstitute.net" target="_blank">
                        The Resiliency Institute
                    </a>
                </strong>
            </li>
            <li>
                <strong>
                    <a href="http://foragersharvest.com" target="_blank">
                        The Forager’s Harvest
                    </a>
                </strong>
            </li>
            <li>
                <strong>
                    <a href="http://www.arthurhaines.com">
                        Arthur Haines
                    </a>
                </strong>
            </li>
            <li>
                <strong>
                    <a href="http://www.findaspring.com" target="_blank">
                        Find a spring
                    </a>
                </strong>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
